<div class="user-item">




  <!-- <div class="user-item">
    <div>
      id:{{currentUser.id}}
    </div>
    <div>
      username: {{currentUser.username}}
    </div>
    <div>
      email:{{currentUser.email}}
    </div>
  </div>
  <div>
    <input type="text" [value]="currentUser.username" #nameInput/>
  </div>
  <div>
    <input type="text" [value]="currentUser.email" #emailInput/>
  </div>
  <div>
    <input type="button" (click)="SaveUserData(nameInput.value, emailInput.value)" value="Save"/>
  </div> -->

  <div>
    <ul>
      <li *ngFor="let user of users">
        {{user.id}}
      </li>
    </ul>
  </div>
</div>
